<div class="content-container">
    <div class="content-wrapper">
        <h1>Your service request has been schecduled for</h1>
        <h1>{{startTime}} and should be completed at {{endTime}}</h1>
    </div>
</div>