{{!-- <h2>Index</h2> --}}
<div class="container">
    <div class="welcome-header">
        <div id="welcome-text">
            <h1 id="welcomeMessage">WELCOME TO HANDYMAN RAD</h1>
            <h3>Rapid Automated Dispatch(RAD) For Home Repairs</h3>
        </div>
    </div>

    <div class="wrapper" id="welcome-signup">
       
    <div class="row">
        <div class="col s6 m6">
            <h3><a id="customerreg" href="/register">SIGN UP AS A CUSTOMER<i class="material-icons">home</i></a></h3>
        </div>
       <div class="col s6 m6">
           <h3> <a id="providerreg" href="/register">SIGN UP AS A SERVICE PROVIDER <i class="material-icons">build</i></a></h3>
        </div>
    </div>
     <div class = "row">
         <div class="col s12">
        <h3><a id="login" href="/login">LOGIN</a></h3>
        </div>
    </div>
</div>