{{!-- <h2>Index</h2> --}}
<h1 id = "welcomeMessage">WELCOME TO HANDYMAN RAD</h1>
<h3>Rapid Automated Dispatch(RAD) For Home Repairs</h3>
<div class = "container">
    <div class = "wrapper">
        <h2 id = "I Am A"> I Want To..</h2>
        <a id = "customerreg" href = "/register">SIGN UP AS A CUSTOMER</a>
        <br>
        <a id = "providerreg" href = "/register">SIGN UP AS A SERVICE PROVIDER</a>
        <br>
        <a id="login" href= "/login">LOGIN</a>
    </div>
</div>