{{!-- <h2>Index</h2> --}}
<p id = "welcomeMessage">Welcome to the site</p>
<div class = "container">
    <div class = "wrapper">
        <h2 id = "IAmA"> I am a</h2>
        <h3 id = "customerLogin">CUSTOMER</h3>
        <h3 id = "providerLogin">SERVICE PROVIDER</h3>
    </div>
</div>

<script>$("#customerLogin").click(app.get)

</script>