<h3>Rapid Automated Dispatch(RAD) For Home Repairs</h3>
<div class="container">
    <div class="login-wrapper">

        <form role="form" id="loginForm">
            <div>
                <label>Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password" placeholder="password" autocomplete="off">
            </div>
            <input type="submit" id="submit-login-btn" value="Click Here to Login!">
        </form>

        <a href="/register">First time? sign up here!</a>
    </div>
</div>