<h1 id = "welcomeMessage">WELCOME TO HANDYMAN RAD</h1>
<h3>Rapid Automated Dispatch(RAD) For Home Repairs</h3>
<div class = "container">
    <div class = "wrapper">
       
<form action="/login"method="POST">
    <input type="text" name = "name" placeholder="Username">
    <input type="password" name = "password" placeholder="password" >
    <input type="submit" id ="submit-login-btn" value="Click Here to Login!">
</form>

<a href="/">First time? sign up here!</a>
    </div>
</div>