<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Handyman R.A.D.</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Logout</a></li>
            <li><a href="/service-menu">Service Menu</a></li>
            <li><a href="#">Service Requests</a></li>
            <li><a href="/customer-info">Customer Info</a></li>
        </ul>
    </div>
</nav>