<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Handyman R.A.D.</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li> {{!-- this will logout the user --}}
            {{#unless isHandy}}<li><a href="/service-menu">Schedule Service</a></li>{{/unless}}
            <li><a href="/update-service">Service Requests</a></li>
            <li><a href="/user-info">User Info</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </div>
</nav>